{
  "openapi": "3.0.0",
  "info": {
    "title": "Widgetic API Gateway",
    "version": "1.0.0",
    "description": "API documentation for the Widgetic API Gateway"
  },
  "servers": [
    {
      "url": "https://api.widgetic.com/v1",
      "description": "Production server",
      "variables": {
        "env": {
          "default": "production",
          "description": "Environment"
        },
        "apiUrl": {
          "default": "https://api.widgetic.com",
          "description": "API URL"
        },
        "apiVersion": {
          "default": "/v1",
          "description": "API Version path prefix"
        }
      }
    }
  ],
  "paths": {
    "/widgets": {
      "get": {
        "operationId": "getWidgets",
        "summary": "List Widgets",
        "description": "Lists the widgets your account owns, newest first. A widget is the reusable piece a composition is made\nfrom; this is your own library, not a catalogue of Widgetic's widgets.\n\nPass `page` (counting from 1) and `size` (1 to 100, 20 when left out) to read the list one page at a time.\n`meta` then carries `total`, `hasNextPage` and `hasPreviousPage`, so a client can walk the list to its end.\nA page past the end is an empty list. Without `page` and `size` the call returns the whole list in one\nresponse, which only suits an account with a few widgets.\n\nPass `canvasId` to list only the widgets on one of your canvases. That list is always returned whole,\nwhatever `page` and `size` say.\n\nPass `managedUserId` (Widgetic's id for one of your managed users) or `managedUserExternalId` (your own\nidentifier for the user) to list only the widgets made for that managed user. The widgets of your other\nmanaged users, and your own, are left out. It combines with `page`, `size` and `canvasId`. A managed user\nthat is not yours, or does not exist, is answered with 404 and `MANAGED_USER_NOT_FOUND`.\n",
        "tags": [
          "Widgets"
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page to return, counting from 1. Giving `page` or `size` turns paging on."
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "How many widgets a page holds (20 when `page` is given without it). Giving `page` or `size` turns paging on."
          },
          {
            "in": "query",
            "name": "canvasId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List only the widgets on this canvas. The list is returned whole."
          },
          {
            "in": "query",
            "name": "managedUserId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List only the widgets made for this managed user (Widgetic's id for the user). Send this or `managedUserExternalId`, not both."
          },
          {
            "in": "query",
            "name": "managedUserExternalId",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "List only the widgets made for the managed user you registered with this `external_id` (your own identifier for the user). Send this or `managedUserId`, not both."
          }
        ],
        "responses": {
          "200": {
            "description": "List of widgets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Widget"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "description": "Paging figures. On a whole-list answer they describe that one response (`page` 1, with\n`size` and `total` both the number of widgets returned).\n",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "size": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Every widget of the list, not only this page."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The same as `size`, for clients that page by limit and offset."
                        },
                        "offset": {
                          "type": "integer",
                          "description": "How many widgets come before this page."
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A parameter is not valid (for example `size` above 100, a `canvasId` or `managedUserId` that is not a UUID, or both `managedUserId` and `managedUserExternalId`)."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "The key's role may not use this endpoint."
          },
          "404": {
            "description": "The managed user named by `managedUserId` or `managedUserExternalId` is not one of yours (`MANAGED_USER_NOT_FOUND`)."
          },
          "429": {
            "description": "Too many requests. See the Retry-After header."
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET 'https://api.widgetic.com/v1/widgets?page=1&size=1' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { WidgetsApi } from '@widgetic/api-sdk';\n\nconst api = new WidgetsApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.getWidgets({\n    page: 1,\n    size: 1\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n}\n\nresponse = requests.request(\"GET\", \"https://api.widgetic.com/v1/widgets?page=1&size=1\", headers=headers)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc main() {\n    request, err := http.NewRequest(\"GET\", \"https://api.widgetic.com/v1/widgets?page=1&size=1\", nil)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/widgets?page=1&size=1')\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$curl = curl_init('https://api.widgetic.com/v1/widgets?page=1&size=1');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'GET',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n    ],\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/widgets?page=1&size=1\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Get, \"https://api.widgetic.com/v1/widgets?page=1&size=1\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      },
      "post": {
        "operationId": "createWidget",
        "summary": "Create Widget",
        "description": "Creates a widget for your account: a named record with a type and some starting content, on a canvas of\nits own (or one of yours that you name), with a database provisioned for it. It costs no credits and has no\ncode yet; the code is generated for it afterwards. The new widget is yours, and you can list it with\n`getWidgets`. A widget is a draft until you say otherwise (`isDraft: false`).\n\nIf the database cannot be provisioned the widget is still created, and `data.warnings` says what did not\ngo through. Read it before relying on the widget.\n\nA widget can be placed on one of your canvases (`canvasId`), in a project you can edit (`projectId`) or in an\norganization where you may create widgets (`organizationId`). Naming anything you cannot use is refused\nwith 403, and the answer is the same whether it exists or not.\n\nTo make the widget for one of your managed users, send `managedUserId` or `managedUserExternalId`. The widget\nstays in your account and is yours to edit; the tag lets you list one user's widgets with `getWidgets`. The\nmanaged user must be yours and active: one that is not yours, or does not exist, is answered with 404 and\n`MANAGED_USER_NOT_FOUND`, and one that is switched off with 409 and `MANAGED_USER_INACTIVE`. The tag is set\nhere and does not change afterwards.\n\nCreating a widget provisions its database, so this call has a limit of its own: 120 per minute for each\naccount (ask Widgetic if you need more). Past that the call is answered with 429 and a `Retry-After`.\nThe `Idempotency-Key` header is required; send the same key when you retry, so one widget is created, not\ntwo.\n",
        "tags": [
          "Widgets"
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A unique value (a UUID is fine) that makes a retry of this request safe."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewWidget"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Widget created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Widget"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "warnings": {
                              "type": "array",
                              "description": "What did not go through, when the widget was created without all of its parts (for example, its database could not be provisioned). Absent when everything did.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, or the `Idempotency-Key` header is missing."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "The key's role may not use this endpoint, or `canvasId`, `projectId` or `organizationId` names\nsomething you may not use.\n"
          },
          "404": {
            "description": "The managed user named by `managedUserId` or `managedUserExternalId` is not one of yours (`MANAGED_USER_NOT_FOUND`)."
          },
          "409": {
            "description": "The managed user is switched off, so nothing new can be made for it (`MANAGED_USER_INACTIVE`)."
          },
          "429": {
            "description": "Too many widgets created in a minute. See the Retry-After header."
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/widgets' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"name\": \"New Chart Widget\",\n  \"type\": \"chart\",\n  \"content\": {\n    \"chartType\": \"bar\",\n    \"dataSource\": \"api\"\n  },\n  \"isPublic\": false,\n  \"isDraft\": false,\n  \"canvasId\": \"abc12345-def6-7890-ab12-cd3456ef7890\",\n  \"projectId\": \"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\",\n  \"organizationId\": \"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\",\n  \"workspaceType\": \"personal\",\n  \"managedUserId\": \"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\",\n  \"managedUserExternalId\": \"user-8841\"\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { randomUUID } from 'node:crypto';\nimport { WidgetsApi } from '@widgetic/api-sdk';\n\nconst api = new WidgetsApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.createWidget({\n    newWidget: {\n      name: 'New Chart Widget',\n      type: 'chart',\n      content: {\n        chartType: 'bar',\n        dataSource: 'api'\n      },\n      isPublic: false,\n      isDraft: false,\n      canvasId: 'abc12345-def6-7890-ab12-cd3456ef7890',\n      projectId: '7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f',\n      organizationId: '5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b',\n      workspaceType: 'personal',\n      managedUserId: 'b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e',\n      managedUserExternalId: 'user-8841'\n    },\n    idempotencyKey: randomUUID()\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import uuid\nimport requests\n\npayload = r\"\"\"\n{\n  \"name\": \"New Chart Widget\",\n  \"type\": \"chart\",\n  \"content\": {\n    \"chartType\": \"bar\",\n    \"dataSource\": \"api\"\n  },\n  \"isPublic\": false,\n  \"isDraft\": false,\n  \"canvasId\": \"abc12345-def6-7890-ab12-cd3456ef7890\",\n  \"projectId\": \"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\",\n  \"organizationId\": \"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\",\n  \"workspaceType\": \"personal\",\n  \"managedUserId\": \"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\",\n  \"managedUserExternalId\": \"user-8841\"\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n    \"Idempotency-Key\": str(uuid.uuid4()),\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/widgets\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n    \"time\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"name\": \"New Chart Widget\",\n  \"type\": \"chart\",\n  \"content\": {\n    \"chartType\": \"bar\",\n    \"dataSource\": \"api\"\n  },\n  \"isPublic\": false,\n  \"isDraft\": false,\n  \"canvasId\": \"abc12345-def6-7890-ab12-cd3456ef7890\",\n  \"projectId\": \"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\",\n  \"organizationId\": \"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\",\n  \"workspaceType\": \"personal\",\n  \"managedUserId\": \"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\",\n  \"managedUserExternalId\": \"user-8841\"\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/widgets\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n    request.Header.Set(\"Idempotency-Key\", fmt.Sprintf(\"example-%d\", time.Now().UnixNano()))\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'securerandom'\n\nuri = URI('https://api.widgetic.com/v1/widgets')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest['Idempotency-Key'] = SecureRandom.uuid\nrequest.body = <<~'JSON'\n  {\n    \"name\": \"New Chart Widget\",\n    \"type\": \"chart\",\n    \"content\": {\n      \"chartType\": \"bar\",\n      \"dataSource\": \"api\"\n    },\n    \"isPublic\": false,\n    \"isDraft\": false,\n    \"canvasId\": \"abc12345-def6-7890-ab12-cd3456ef7890\",\n    \"projectId\": \"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\",\n    \"organizationId\": \"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\",\n    \"workspaceType\": \"personal\",\n    \"managedUserId\": \"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\",\n    \"managedUserExternalId\": \"user-8841\"\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"name\": \"New Chart Widget\",\n  \"type\": \"chart\",\n  \"content\": {\n    \"chartType\": \"bar\",\n    \"dataSource\": \"api\"\n  },\n  \"isPublic\": false,\n  \"isDraft\": false,\n  \"canvasId\": \"abc12345-def6-7890-ab12-cd3456ef7890\",\n  \"projectId\": \"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\",\n  \"organizationId\": \"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\",\n  \"workspaceType\": \"personal\",\n  \"managedUserId\": \"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\",\n  \"managedUserExternalId\": \"user-8841\"\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/widgets');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n        'Idempotency-Key: ' . bin2hex(random_bytes(16)),\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.util.UUID;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/widgets\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .header(\"Idempotency-Key\", UUID.randomUUID().toString())\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"name\\\": \\\"New Chart Widget\\\",\\n  \\\"type\\\": \\\"chart\\\",\\n  \\\"content\\\": {\\n    \\\"chartType\\\": \\\"bar\\\",\\n    \\\"dataSource\\\": \\\"api\\\"\\n  },\\n  \\\"isPublic\\\": false,\\n  \\\"isDraft\\\": false,\\n  \\\"canvasId\\\": \\\"abc12345-def6-7890-ab12-cd3456ef7890\\\",\\n  \\\"projectId\\\": \\\"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\\\",\\n  \\\"organizationId\\\": \\\"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\\\",\\n  \\\"workspaceType\\\": \\\"personal\\\",\\n  \\\"managedUserId\\\": \\\"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\\\",\\n  \\\"managedUserExternalId\\\": \\\"user-8841\\\"\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/widgets\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Headers.Add(\"Idempotency-Key\", Guid.NewGuid().ToString());\nrequest.Content = new StringContent(\"{\\n  \\\"name\\\": \\\"New Chart Widget\\\",\\n  \\\"type\\\": \\\"chart\\\",\\n  \\\"content\\\": {\\n    \\\"chartType\\\": \\\"bar\\\",\\n    \\\"dataSource\\\": \\\"api\\\"\\n  },\\n  \\\"isPublic\\\": false,\\n  \\\"isDraft\\\": false,\\n  \\\"canvasId\\\": \\\"abc12345-def6-7890-ab12-cd3456ef7890\\\",\\n  \\\"projectId\\\": \\\"7c1e2f30-4a5b-4c6d-8e9f-0a1b2c3d4e5f\\\",\\n  \\\"organizationId\\\": \\\"5e2d3f4a-1b6c-4a1f-8b9c-3c2d4e5f6a7b\\\",\\n  \\\"workspaceType\\\": \\\"personal\\\",\\n  \\\"managedUserId\\\": \\\"b7c8d9e0-1f2a-4b3c-8d4e-5f6a7b8c9d0e\\\",\\n  \\\"managedUserExternalId\\\": \\\"user-8841\\\"\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/widgets/{id}/composition": {
      "post": {
        "operationId": "createCompositionFromWidget",
        "summary": "Create a composition for a widget in one call",
        "description": "After a managed user publishes a widget from the creator, call this with the widget id, the customer's\nmanaged user (when the widget is not already filed under one), and optional content, design, embed settings\nand locale. Every input is validated before a single insert; a failure never leaves a half-made composition.\n\nWhen the widget is already tagged with a managed user, you may omit `managed_user_id`. When you send it, it\nmust match that tag.\n\nThe widget must be published. The `Idempotency-Key` header is required.\n",
        "tags": [
          "Widgets"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The widget id"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "content": {
                    "type": "object"
                  },
                  "design": {
                    "type": "object",
                    "nullable": true
                  },
                  "embed_settings": {
                    "type": "object"
                  },
                  "locale": {
                    "type": "string"
                  },
                  "managed_user_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "name": "Published widget embed",
                "managed_user_id": "123e4567-e89b-12d3-a456-426614174000",
                "locale": "de-DE"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Composition created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Composition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (`VALIDATION_ERROR`)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Widget or managed user not found"
          },
          "409": {
            "description": "Managed user inactive or widget not published"
          },
          "429": {
            "description": "Rate limited"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"name\": \"Published widget embed\",\n  \"managed_user_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n  \"locale\": \"de-DE\"\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { randomUUID } from 'node:crypto';\nimport { WidgetsApi } from '@widgetic/api-sdk';\n\nconst api = new WidgetsApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.createCompositionFromWidget({\n    id: '123e4567-e89b-12d3-a456-426614174000',\n    createCompositionFromWidgetRequest: {\n      name: 'Published widget embed',\n      managed_user_id: '123e4567-e89b-12d3-a456-426614174000',\n      locale: 'de-DE'\n    },\n    idempotencyKey: randomUUID()\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import uuid\nimport requests\n\npayload = r\"\"\"\n{\n  \"name\": \"Published widget embed\",\n  \"managed_user_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n  \"locale\": \"de-DE\"\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n    \"Idempotency-Key\": str(uuid.uuid4()),\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n    \"time\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"name\": \"Published widget embed\",\n  \"managed_user_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n  \"locale\": \"de-DE\"\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n    request.Header.Set(\"Idempotency-Key\", fmt.Sprintf(\"example-%d\", time.Now().UnixNano()))\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'securerandom'\n\nuri = URI('https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest['Idempotency-Key'] = SecureRandom.uuid\nrequest.body = <<~'JSON'\n  {\n    \"name\": \"Published widget embed\",\n    \"managed_user_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n    \"locale\": \"de-DE\"\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"name\": \"Published widget embed\",\n  \"managed_user_id\": \"123e4567-e89b-12d3-a456-426614174000\",\n  \"locale\": \"de-DE\"\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n        'Idempotency-Key: ' . bin2hex(random_bytes(16)),\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.util.UUID;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .header(\"Idempotency-Key\", UUID.randomUUID().toString())\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"name\\\": \\\"Published widget embed\\\",\\n  \\\"managed_user_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\\n  \\\"locale\\\": \\\"de-DE\\\"\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/widgets/123e4567-e89b-12d3-a456-426614174000/composition\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Headers.Add(\"Idempotency-Key\", Guid.NewGuid().ToString());\nrequest.Content = new StringContent(\"{\\n  \\\"name\\\": \\\"Published widget embed\\\",\\n  \\\"managed_user_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\\n  \\\"locale\\\": \\\"de-DE\\\"\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/widgets/batch": {
      "post": {
        "operationId": "getWidgetsBatch",
        "summary": "Get Widgets Batch",
        "description": "Retrieves multiple widgets by their IDs in a single request. An id that is not found, or that is not yours, is reported in `errors` exactly like one that does not exist. Called with an editor session, only the widgets made for the session's managed user are returned.",
        "tags": [
          "Widgets"
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "widgetIds"
                ],
                "properties": {
                  "widgetIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Widgets batch result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "widgets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Widget"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/widgets/batch' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"widgetIds\": [\n    \"example\"\n  ]\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { WidgetsApi } from '@widgetic/api-sdk';\n\nconst api = new WidgetsApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.getWidgetsBatch({\n    getWidgetsBatchRequest: {\n      widgetIds: [\n        'example'\n      ]\n    }\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\npayload = r\"\"\"\n{\n  \"widgetIds\": [\n    \"example\"\n  ]\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/widgets/batch\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"widgetIds\": [\n    \"example\"\n  ]\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/widgets/batch\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/widgets/batch')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest.body = <<~'JSON'\n  {\n    \"widgetIds\": [\n      \"example\"\n    ]\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"widgetIds\": [\n    \"example\"\n  ]\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/widgets/batch');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/widgets/batch\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"widgetIds\\\": [\\n    \\\"example\\\"\\n  ]\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/widgets/batch\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Content = new StringContent(\"{\\n  \\\"widgetIds\\\": [\\n    \\\"example\\\"\\n  ]\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/users/{id}/workspace/domains": {
      "get": {
        "operationId": "getPersonalWorkspaceDomains",
        "summary": "List the websites allowed to show your widgets",
        "description": "Lists the websites on an account's own list, newest first. It is the list Widgetic checks when a widget of the account is embedded: when it holds at least one website, the widget is shown on those websites (and on Widgetic's own) and nowhere else; when it is empty, the widget can be shown anywhere. If the account administers a partner, the websites set on the partner record by Widgetic are added to them. Widgets that belong to an organization use the organization's list instead.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the list belongs to. For your own, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The websites on the list (an empty list when nothing is restricted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonalWorkspaceDomain"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The list belongs to another account"
          },
          "404": {
            "description": "The account was not found"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.getPersonalWorkspaceDomains({\n    id: '123e4567-e89b-12d3-a456-426614174000'\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n}\n\nresponse = requests.request(\"GET\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\", headers=headers)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc main() {\n    request, err := http.NewRequest(\"GET\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\", nil)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains')\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'GET',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n    ],\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Get, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      },
      "post": {
        "operationId": "addPersonalWorkspaceDomain",
        "summary": "Allow a website to show your widgets",
        "description": "Adds a website to an account's own list. Give a website name such as `example.com`, or `*.example.com` for a website and all of its subdomains. A scheme, a port, a path, capital letters and a leading `www.` are dropped, so `https://www.Example.com/shop` is kept as `example.com`, and `example.com` covers `www.example.com` too. Something that is not a website name is refused, not stored.\nUntil the first website is added nothing is restricted, and a widget can be shown anywhere. Once the list has one, a widget of the account is shown on the listed websites (and on Widgetic's own) and nowhere else. A page on your own machine (`localhost`, `127.0.0.1` or `[::1]`, on any port) is always allowed, so there is nothing to add to test locally. A change can take about 15 seconds to reach every server.\nThe list is a safeguard against other websites showing your widgets in a visitor's browser. It is not access control: anyone who knows a widget's id can still fetch its published content with a plain request that names no website.\nAn account can list at most 50 websites. Use `*.example.com` for a website and all of its subdomains instead of listing each one.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the list belongs to. For your own, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The website was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalWorkspaceDomainResult"
                }
              }
            }
          },
          "400": {
            "description": "The text is missing, longer than 255 characters, or not a website name"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The list belongs to another account"
          },
          "404": {
            "description": "The account was not found"
          },
          "409": {
            "description": "The website is already on the list, or the list already holds 50 websites"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"domain\": \"example.com\"\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.addPersonalWorkspaceDomain({\n    id: '123e4567-e89b-12d3-a456-426614174000',\n    addDomainRequest: {\n      domain: 'example.com'\n    }\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\npayload = r\"\"\"\n{\n  \"domain\": \"example.com\"\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"domain\": \"example.com\"\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest.body = <<~'JSON'\n  {\n    \"domain\": \"example.com\"\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"domain\": \"example.com\"\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"domain\\\": \\\"example.com\\\"\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Content = new StringContent(\"{\\n  \\\"domain\\\": \\\"example.com\\\"\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/users/{id}/workspace/domains/{domainId}": {
      "put": {
        "operationId": "updatePersonalWorkspaceDomain",
        "summary": "Change a website on your list",
        "description": "Replaces the website of one entry on an account's own list. The same rules apply as when adding one (`addPersonalWorkspaceDomain`): a website name such as `example.com` or `*.example.com`, kept in its cleaned form, and refused when it is not a website name or is already on the list.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the list belongs to. For your own, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "The `id` of the entry, as the list shows it",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The entry was changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalWorkspaceDomainResult"
                }
              }
            }
          },
          "400": {
            "description": "The text is missing, longer than 255 characters, or not a website name"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The list belongs to another account"
          },
          "404": {
            "description": "The list has no entry with this id"
          },
          "409": {
            "description": "The website is already on the list"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PUT 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"domain\": \"example.com\"\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.updatePersonalWorkspaceDomain({\n    id: '123e4567-e89b-12d3-a456-426614174000',\n    domainId: '123e4567-e89b-12d3-a456-426614174000',\n    updateDomainRequest: {\n      domain: 'example.com'\n    }\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\npayload = r\"\"\"\n{\n  \"domain\": \"example.com\"\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n}\n\nresponse = requests.request(\"PUT\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"domain\": \"example.com\"\n}`)\n    request, err := http.NewRequest(\"PUT\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000')\nrequest = Net::HTTP::Put.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest.body = <<~'JSON'\n  {\n    \"domain\": \"example.com\"\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"domain\": \"example.com\"\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'PUT',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .method(\"PUT\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"domain\\\": \\\"example.com\\\"\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Put, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Content = new StringContent(\"{\\n  \\\"domain\\\": \\\"example.com\\\"\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      },
      "delete": {
        "operationId": "deletePersonalWorkspaceDomain",
        "summary": "Stop allowing a website to show your widgets",
        "description": "Removes one entry from an account's own list. When it was the last one, nothing is restricted any more and a widget can be shown anywhere again. A change can take about 15 seconds to reach every server.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the list belongs to. For your own, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "The `id` of the entry, as the list shows it",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entry was removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The list belongs to another account"
          },
          "404": {
            "description": "The list has no entry with this id (it may already have been removed)"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.deletePersonalWorkspaceDomain({\n    id: '123e4567-e89b-12d3-a456-426614174000',\n    domainId: '123e4567-e89b-12d3-a456-426614174000'\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n}\n\nresponse = requests.request(\"DELETE\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\", headers=headers)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc main() {\n    request, err := http.NewRequest(\"DELETE\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\", nil)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000')\nrequest = Net::HTTP::Delete.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'DELETE',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n    ],\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .method(\"DELETE\", HttpRequest.BodyPublishers.noBody())\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Delete, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/workspace/domains/123e4567-e89b-12d3-a456-426614174000\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/users/send-feedback": {
      "post": {
        "operationId": "usersSendFeedbackPost",
        "summary": "Send feedback email",
        "description": "Send user feedback via email using the email service",
        "tags": [
          "Users"
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromEmail",
                  "subject",
                  "feedback"
                ],
                "properties": {
                  "fromEmail": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Feedback subject"
                  },
                  "feedback": {
                    "type": "string",
                    "description": "Feedback content"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional reply-to email address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Failed to send feedback"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/users/send-feedback' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"fromEmail\": \"user@example.com\",\n  \"subject\": \"example\",\n  \"feedback\": \"example\",\n  \"replyTo\": \"user@example.com\"\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.usersSendFeedbackPost({\n    usersSendFeedbackPostRequest: {\n      fromEmail: 'user@example.com',\n      subject: 'example',\n      feedback: 'example',\n      replyTo: 'user@example.com'\n    }\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\npayload = r\"\"\"\n{\n  \"fromEmail\": \"user@example.com\",\n  \"subject\": \"example\",\n  \"feedback\": \"example\",\n  \"replyTo\": \"user@example.com\"\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/users/send-feedback\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"fromEmail\": \"user@example.com\",\n  \"subject\": \"example\",\n  \"feedback\": \"example\",\n  \"replyTo\": \"user@example.com\"\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/users/send-feedback\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/send-feedback')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest.body = <<~'JSON'\n  {\n    \"fromEmail\": \"user@example.com\",\n    \"subject\": \"example\",\n    \"feedback\": \"example\",\n    \"replyTo\": \"user@example.com\"\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"fromEmail\": \"user@example.com\",\n  \"subject\": \"example\",\n  \"feedback\": \"example\",\n  \"replyTo\": \"user@example.com\"\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/users/send-feedback');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/send-feedback\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"fromEmail\\\": \\\"user@example.com\\\",\\n  \\\"subject\\\": \\\"example\\\",\\n  \\\"feedback\\\": \\\"example\\\",\\n  \\\"replyTo\\\": \\\"user@example.com\\\"\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/users/send-feedback\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Content = new StringContent(\"{\\n  \\\"fromEmail\\\": \\\"user@example.com\\\",\\n  \\\"subject\\\": \\\"example\\\",\\n  \\\"feedback\\\": \\\"example\\\",\\n  \\\"replyTo\\\": \\\"user@example.com\\\"\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/users/{id}/keys": {
      "get": {
        "operationId": "getUserApiKeys",
        "summary": "List the API keys of an account",
        "description": "Lists the API keys of an account, in the order they were made: name, the first characters of the key, when it was made, when it expires, when it was last used, whether it is switched on and what it is limited to (`scopes` and `preset`). The secret of a key is never part of the list. A caller can list its own account's keys; Widgetic staff can list any account's.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the keys belong to. For your own keys, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The keys of the account (an empty list for an account with none)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The account id is not a valid id"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The keys belong to another account"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.getUserApiKeys({\n    id: '123e4567-e89b-12d3-a456-426614174000'\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n}\n\nresponse = requests.request(\"GET\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\", headers=headers)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc main() {\n    request, err := http.NewRequest(\"GET\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\", nil)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys')\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'GET',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n    ],\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Get, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      },
      "post": {
        "operationId": "createUserApiKey",
        "summary": "Create an API key",
        "description": "Makes a new API key for an account and returns its secret in `key`. That is the only time the secret is shown: Widgetic keeps a hash, so a key that was not stored cannot be recovered, only replaced. To rotate a key, make the new one, switch the integration over to it, then delete the old one.\nOnly a person signed in on widgetic.com can make a key: a request made with an API key, or with an SDK token, is refused with 403. That way a leaked key cannot be used to make a second one that survives its revocation. Make keys from the dashboard; a key can still list, rename, switch off and delete keys.\nAn `Idempotency-Key` header is required (8 to 50 characters: letters, digits, `-` and `_`). A retry with the same header and the same body returns the same answer instead of making a second key, and the same header with a different body is refused with 422. Make keys one at a time: two requests for the same account that run at the same moment can overwrite each other.\nA key can be limited to what it needs. Send a `preset` (`read_only`, `content` or `full_access`) or a list of `scopes`, never both. Send neither for a key that can do everything its owner can, as every key made before scopes existed. A limited key is refused with 403 and the code `API_KEY_SCOPE_MISSING` on anything outside its scopes, so a key held by a build server or by a partner's backend can be given only the part of the API it uses. The scopes of a key are fixed when it is made: to widen one, make a new key and delete the old one. A limited key cannot make, change or delete keys, exchange tokens or reach the administration routes. The list of scopes is in the `ApiKeyScope` schema.\nAn account can hold at most 25 keys. An account on a plan without API access cannot make one.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the key is for. For your own, your own user id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The key was made. The secret is in `key`, and is not shown again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedUserApiKey"
                }
              }
            }
          },
          "400": {
            "description": "The name, the expiry or the scopes are not valid (an unknown scope, an empty list, or both a preset and scopes), or the Idempotency-Key header is missing or malformed"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "The request was made with an API key or an SDK token (only a person signed in on widgetic.com can make a key), the account belongs to someone else, or its plan does not include API keys"
          },
          "409": {
            "description": "The account already holds 25 keys, or another request with this Idempotency-Key is still running"
          },
          "422": {
            "description": "This Idempotency-Key was already used with a different body"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n  \"name\": \"Production\",\n  \"expiresAt\": \"2027-01-31T00:00:00Z\",\n  \"preset\": \"content\",\n  \"scopes\": [\n    \"content:read\",\n    \"generate\"\n  ]\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "import { randomUUID } from 'node:crypto';\nimport { UsersApi } from '@widgetic/api-sdk';\n\nconst api = new UsersApi('YOUR_API_KEY');\n\ntry {\n  const result = await api.createUserApiKey({\n    id: '123e4567-e89b-12d3-a456-426614174000',\n    createUserApiKeyRequest: {\n      name: 'Production',\n      expiresAt: '2027-01-31T00:00:00Z',\n      preset: 'content',\n      scopes: [\n        'content:read',\n        'generate'\n      ]\n    },\n    idempotencyKey: randomUUID()\n  });\n  console.log(result);\n} catch (error) {\n  console.error('Error:', error.message);\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import uuid\nimport requests\n\npayload = r\"\"\"\n{\n  \"name\": \"Production\",\n  \"expiresAt\": \"2027-01-31T00:00:00Z\",\n  \"preset\": \"content\",\n  \"scopes\": [\n    \"content:read\",\n    \"generate\"\n  ]\n}\n\"\"\"\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\",\n    \"Idempotency-Key\": str(uuid.uuid4()),\n}\n\nresponse = requests.request(\"POST\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\", headers=headers, data=payload)\nprint(response.status_code)\nprint(response.text)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"strings\"\n    \"time\"\n)\n\nfunc main() {\n    payload := strings.NewReader(`{\n  \"name\": \"Production\",\n  \"expiresAt\": \"2027-01-31T00:00:00Z\",\n  \"preset\": \"content\",\n  \"scopes\": [\n    \"content:read\",\n    \"generate\"\n  ]\n}`)\n    request, err := http.NewRequest(\"POST\", \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\", payload)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    request.Header.Set(\"Authorization\", \"Bearer YOUR_API_KEY\")\n    request.Header.Set(\"Content-Type\", \"application/json\")\n    request.Header.Set(\"Idempotency-Key\", fmt.Sprintf(\"example-%d\", time.Now().UnixNano()))\n\n    response, err := http.DefaultClient.Do(request)\n    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    defer response.Body.Close()\n\n    body, _ := io.ReadAll(response.Body)\n    fmt.Println(response.StatusCode, string(body))\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'securerandom'\n\nuri = URI('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys')\nrequest = Net::HTTP::Post.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_API_KEY'\nrequest['Content-Type'] = 'application/json'\nrequest['Idempotency-Key'] = SecureRandom.uuid\nrequest.body = <<~'JSON'\n  {\n    \"name\": \"Production\",\n    \"expiresAt\": \"2027-01-31T00:00:00Z\",\n    \"preset\": \"content\",\n    \"scopes\": [\n      \"content:read\",\n      \"generate\"\n    ]\n  }\nJSON\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) { |http| http.request(request) }\nputs response.code\nputs response.body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$payload = <<<'JSON'\n{\n  \"name\": \"Production\",\n  \"expiresAt\": \"2027-01-31T00:00:00Z\",\n  \"preset\": \"content\",\n  \"scopes\": [\n    \"content:read\",\n    \"generate\"\n  ]\n}\nJSON;\n\n$curl = curl_init('https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys');\ncurl_setopt_array($curl, [\n    CURLOPT_CUSTOMREQUEST => 'POST',\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        'Authorization: Bearer YOUR_API_KEY',\n        'Content-Type: application/json',\n        'Idempotency-Key: ' . bin2hex(random_bytes(16)),\n    ],\n    CURLOPT_POSTFIELDS => $payload,\n]);\n\n$response = curl_exec($curl);\nif ($response === false) {\n    echo 'Error: ' . curl_error($curl);\n} else {\n    echo curl_getinfo($curl, CURLINFO_HTTP_CODE) . \"\\n\" . $response;\n}\ncurl_close($curl);"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.util.UUID;\n\npublic class Example {\n    public static void main(String[] args) throws Exception {\n        HttpRequest request = HttpRequest.newBuilder()\n            .uri(URI.create(\"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\"))\n            .header(\"Authorization\", \"Bearer YOUR_API_KEY\")\n            .header(\"Content-Type\", \"application/json\")\n            .header(\"Idempotency-Key\", UUID.randomUUID().toString())\n            .method(\"POST\", HttpRequest.BodyPublishers.ofString(\"{\\n  \\\"name\\\": \\\"Production\\\",\\n  \\\"expiresAt\\\": \\\"2027-01-31T00:00:00Z\\\",\\n  \\\"preset\\\": \\\"content\\\",\\n  \\\"scopes\\\": [\\n    \\\"content:read\\\",\\n    \\\"generate\\\"\\n  ]\\n}\"))\n            .build();\n\n        HttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\n        System.out.println(response.statusCode() + \" \" + response.body());\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\n\nusing var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://api.widgetic.com/v1/users/123e4567-e89b-12d3-a456-426614174000/keys\");\nrequest.Headers.Add(\"Authorization\", \"Bearer YOUR_API_KEY\");\nrequest.Headers.Add(\"Idempotency-Key\", Guid.NewGuid().ToString());\nrequest.Content = new StringContent(\"{\\n  \\\"name\\\": \\\"Production\\\",\\n  \\\"expiresAt\\\": \\\"2027-01-31T00:00:00Z\\\",\\n  \\\"preset\\\": \\\"content\\\",\\n  \\\"scopes\\\": [\\n    \\\"content:read\\\",\\n    \\\"generate\\\"\\n  ]\\n}\", Encoding.UTF8, \"application/json\");\n\nvar response = await client.SendAsync(request);\nConsole.WriteLine($\"{(int)response.StatusCode} {await response.Content.ReadAsStringAsync()}\");"
          }
        ]
      }
    },
    "/users/{id}/keys/{keyId}": {
      "put": {
        "operationId": "updateUserApiKey",
        "summary": "Rename an API key, or switch it off or on",
        "description": "Renames a key, or switches it off (`isActive: false`) or back on. A key that is switched off is refused at once by the server that took the request and within a minute by the others, and can be switched on again; deleting is for a key that is not coming back. The secret, the expiry and the scopes of a key cannot be changed. Only a key with full access can make these requests: a key limited to some scopes is refused with 403 and the code `API_KEY_SCOPE_MISSING`.\nRenaming and switching off can be done with an API key. Switching a key on needs a person signed in on widgetic.com: a request that asks for it with an API key or an SDK token is refused with 403, so a leaked key cannot bring a dormant key back to life.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-access-level": "user",
        "x-visibility": "public",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account the key belongs to",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The `keyId` of the key, as the list shows it",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The key after the change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserApiKey"
                }
              }
            }
          },
          "400": {
[...]
